{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}Buscar{% endblock %}
{% block content %}
{% if query %}
<h1>Publicaciones que contienen "{{ query }}"</h1>
<h3>
    {% with results.count as total_results %}
    Se encontraron {{ total_results }} resultado{{ total_results|pluralize:"s" }}
    {% endwith %}
</h3>
{% for post in results %}
<h4>
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
</h4>
{{ post.body|markdown|truncatewords_html:12 }}
<hr class="mi-linea">
{% empty %}
<p>No hay resultados para tu búsqueda.</p>
{% endfor %}
<p><a href="{% url "blog:post_list" %}">volver a la página principal</a></p>
{% else %}
<h1>Buscar publicaciones</h1>
<form method="get">
    {{ form.as_p }}
    <input type="submit" value="Buscar">
</form>
{% endif %}
{% endblock %}
